// Body
$body-bg: #f5f8fa;
$color-text: #007bff;

//breadcrumb
$breadcrumb-active-color: #6c757d;
$breadcrumb-bg: #e9ecef;
$breadcrumb-padding-y: 30;
$breadcrumb-padding-x: 10;
$breadcrumb-font-size: 12;
